body {
    margin: 0;
    max-width: 100vw;
}

pre, code {
    overflow: auto;
}

#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
    min-width: 600px;
}

#outputPane {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 0 0 400px;
    overflow: auto;
    margin: 1rem;
}

.generatedCode {
    height: 25%;
    background-color: rgb(247, 240, 228);
    overflow: auto;
}

#output {
    height: 50%;
}

#modalEditor {
    position: absolute;
    top: 0;
    left:0;
    z-index: 1000;
    width: 80vw;
    height: 80vh;
    background-color: cornflowerblue;
    border-color: darkcyan;
    border-width: 4px;
    visibility: hidden;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}